.bigcard{
    background-color: rgb(220, 229, 184);
    height: 600px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5%;
}

img{
   height: 300px;
   width: 300px;
   margin-left: 25px;
   margin-top: 20px;
   border-radius: 5%;
}

p{
    color: rgb(0, 0, 0);
    word-spacing: 25px;
    margin-left: 45px;
    border: 2px solid rgb(200, 200, 198);
    display: inline-block;
    border-radius: 45px;
    padding: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

span{
    border: 2px solid rgb(200,200,198);
    display: inline-block;
    border-radius: 45px;
    padding: 6px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mine{
    border: none;
   margin-right: 25px;
   margin-left: 25px;
   margin-bottom: 10px;
   margin-top: 0px;
   word-spacing: normal;
   border-radius: 5%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    margin-top: 0px;
   margin-left: 30px;
   margin-bottom: 5px;
}

button{
    margin-left: 123px;
    margin-top: 0px;
    padding: 13px;
    background-color: rgb(204, 197, 239);
    border-radius: 40%;
    font-family: cursive;
    color: skyblue;
    border: none;
    
    
}

a{
    text-decoration: none;
}